@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;700&family=Montserrat:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #000;
}

.header {
  color: #fff;
  border-bottom: 3px solid #fff;
  padding: 10px 20px;
  font-weight: 700;
}

.btn {
  cursor: pointer;
}

.menu-bars {
  margin-right: 1rem;
  font-size: 2rem;
  background: none;
  color: #fff;
}

.menu-bars:hover {
  color: #fff;
}

.nav-menu {
  background-color: #abb6c8;
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  top: -100%;
  transition: 850ms;
}

.nav-menu.active {
  top: 0;
  transition: 350ms;
}

.links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.links a {
  text-decoration: none;
  color: #fff;
  font-size: 23px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  font-weight: 700;
}

.links a:hover {
  border: 1px solid #fff;
}

.nav-menu-items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar-toggle {
  background-color: #abb6c8;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.scrollTop {
  position: fixed;
  width: 4%;
  right: 48%;
  bottom: 4%;
  align-items: center;
  height: 6%;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  color: #fff;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.illust {
  max-width: 80vw;
  height: auto;
  margin-bottom: 40px;
  margin-top: 30px;
}

@media (min-width: 480px) {
  .illust {
    max-width: 70vw;
    margin-bottom: 40px;
    padding-top: 40px;
  }
}

@media (min-width: 768px) {
  .menu-bars {
    margin-right: 2rem;
    font-size: 3rem;
  }

  .illust {
    width: 40vw;
    padding-top: 80px;
  }
}

@media (min-width: 992px) {
  .illust {
    width: 40vw;
    padding-top: 0;
  }
}

@media (min-width: 1200px) {
  .illust {
    width: 40vw;
  }
}
